*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body{
background-image: url(images/blurparkview.jpg);
background-repeat: repeat-y;
background-size: 100%;

}




#logo{

    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px, 0;
    width: 200px;
    height: 100px;  

  }

  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    text-align: center;
    
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

  #imageone{
      width: 640px;
      height: 480px;
     float: left;
     margin-left: 30px;
  }
  #imagetwo{
    width: 640px;
    height: 480px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
   
  }

  #imagethree{
      width: 800px;
      height: 481px;
      float: left;
      margin-left: 30px;
      margin-top: 10px;
  }

  #imagefour{
    width: 1100px;
    height: 500px;
    margin-left: 30px;
    margin-top: 10px;
  }

  #imagefive{
    width: 1100px;
    height: 500px;    
    float: right;
    margin-right: 30px;
    margin-top: 10px;
  }
  


 
  #imagesix{
    width: 1100px;
    height: 500px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
  }
  #imageseven{
    width: 900px;
    height: 500px;    
    float: right;
    margin-right: 30px;
    margin-top: 10px;
  }
  #imageeight{
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 30px;
    margin-top: 550px;
  }
  #imageeightt{
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 30px;
  }
  
#yt{
  float: right;
  width: 760px;
  height: 480px;
  margin-right: 30px;
}

.text1{
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  margin-top: 200px;
  border: 5px black;
}
.text2{
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  margin-top: 200px;
  border: 5px black;
}
.text2five{
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  margin-top: 200px;
  border: 5px black;
 
}






 



























.btn{
    position: absolute;
    top: 3%;
    left: 14%;
    transform: translate(-50%, -50%);
   }

   .btn2{
    position: absolute;
    top: 3%;
    left: 22%;
    transform: translate(-50%, -50%); 
   }

   button{
    background-color: #151519;
    color: #ccc;
    width: 140px;
    height: 60px;
    border: 3px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;  
   }

   button:focus{
    outline: none;
   }

   button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
   }

   button:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
   }

   button:hover{
    background: #338033;
    cursor: pointer;
   }

   button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
   }

   button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
   }

  ul{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 20px, 0;
    background: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    z-index: 3;

  }
  ul li{
    list-style: none; 
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  ul li:last-child{
    border-right: none;
  }

  ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
  }

  ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
  }

  ul li a .icon .fa
  {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
  }

  ul li a .icon .fa:last-child{
    color: purple;
  }

  ul li a:hover .icon .fa{
    transform: translateY(-100%);
  }